
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #cdcdcd;
  padding: 50px;
}

h1 {
  margin-bottom: 4px;
}

.box {
  width: 250px;
  height: 100px;
  margin: 20px;
  line-height: 100px;
  background-color: rgb(255, 111, 0);
  border-radius:10px solid #ccc;
  font-weight: bold;
  padding: 20px;

}

/* Sombra Suave */
.sombra1 {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
border: 20px solid #0011ff;
border-radius: 10px;
width: 100px;

}

/* Sombra Intensa */
.sombra2 {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
border: 20px solid #0011ff;
border-radius: 10px;
width: 100px;




}

/* Sombra com Desfoque */
.sombra3 {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
border: 20px solid #0011ff;
border-radius: 10px;
width: 100px;


}

/* Sombra Interna */
.sombra4 {
  box-shadow: inset 40px 38px 20px rgba(0, 0, 0, 0.4);
border: 20px solid #0011ff;
border-radius: 10px;
width: 100px;
}

/* Múltiplas Sombras */
.sombra5 {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(2, 2, 240, 0.4);
border: 20px solid #0011ff;
border-radius: 10px;
width: 100px;

}

/*apliquei sombra no Título*/
h1{
text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}




